/*========== FREE ART TEMPLATE  ==========*/
/*
Thème créé par Jean-Emmanuel Doucet - 2013. 
Copyleft : cette oeuvre est libre, vous pouvez la copier, la diffuser et la modifier selon les termes de la Licence Art Libre.
http://www.artlibre.org/
*/


/*========== MISC ==========*/
* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	
}
html, body {
	height:100%;
	background-color:#000;
}
/*========== MISC ==========*/

/*========== HOME PAGE ==========*/
.home-container {
	position:relative;
	height:100%;
	width:100%;
}
	/*== background ==*/
	.bg-focus {
		background-position:center top;
		background-size:cover;
		background-attachment:scroll;
		position:fixed;
		height:100%;
		width:100%;
		top:0;
		left:0;
		display:none;
	}

  .bg-focus:after {
      content: "";
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      background: url('overlay.png') repeat scroll 0% 0% transparent;
      opacity:0.5;
  }
	
	
	
	
	/*== bandcamp player ==*/
	.player {
		z-index:3;
		width:44px;
		height:44px;
    position:absolute;
    top:20px;
    left:20px;
		background:rgba(255,255,255,0.4);
		border:2px solid #fff;
		overflow:hidden;
		border-radius:47px;
		opacity:0.6;
		transition:all 0.3s;
	}
	.player:hover {
	  opacity:0.9;
	  width:240px;
	}
	.player iframe {
		border: 0; 
		margin:0;
		padding:0;
		position:absolute;
		display:block;top:-1px;
		left:-1px;opacity:0.5;
		background-color:transparent;
		width:242px;
		height:42px;

	}	

	
	
	/*== title & links ==*/
	.top {
	  position:absolute;
	  bottom:50%;
	  margin-bottom:-50px;
	  left:0;
	  right:0;
	}
	/*== title ==*/
	.title {
		color:#fff!important;
		color:rgba(255,255,255,0.9)!important;
		display:block;
		border:0;
		outline:0;
		text-align:center;
		font-weight:400;
	}
	.title h1 {
		font-size:34px;
		line-height:44px;
		font-variant:inherit!important;
		font-weight:300;
		margin:0;
		text-align:inherit;
	}
	.title ::selection {
		color:rgba(255,255,255,0.9);
	}
	.title span{
		display:block;
		font-size:16px;
		line-height:12px;
		text-align:inherit;
	}
	
	/*== links list ==*/
	.links {
		z-index:3;
	  text-align:center;
	}
	.links-list {
		list-style:none;
		display:inline-block;
		border-radius:20px;
		margin:0;
		text-align:center;
	}
	.links li{
		padding:0;
		display:inline-block;
		background:rgba(255,255,255,0.4);
		border:2px solid #fff;
		opacity:0.6;
		margin:20px 10px 0;
		text-align:center;
		font-size:20px;
		width:44px;
		height:44px;
		line-height:40px;
		border-radius:40px;
		transition:opacity 0.3s;
	}
	.links li:hover {
		opacity:0.9;
	}
	.links li:before {
		display:none;
	}
	.links a {
		border:0;
		display:block;
		outline:0;
		color:#fff!important;
	}
	.links a span {
		display:none;
	}

	i.fa-bandcamp:before {
		content:"\f04d";
	}
	i.fa-bandcamp {
		transform:skew(-13deg);
	}

	
	/*== scroll-knobs (knob-bottom in .content div ==*/
	#knob {
		position:absolute;
		top:-67px;
		left:50%;
		margin-left:-27px;
	  color:#fff;
		height:54px;
		width:54px;
		opacity:0.6;
		border-radius:27px;
		background-color:rgba(255,255,255,0.2);
		border:2px solid #fff;
		outline:0;
				text-shadow: 0 0 1px #000;
		transition:opacity 0.3s;
	}

	#knob-bottom {
		margin:0 auto;
		border:0;
		text-align:center;
		border-radius:12px;
		outline:0;
		display:block;
		height:54px;
		width:54px;
		border-radius:27px;
		border:2px solid;
		outline:0;
		transition:all 0.3s;
		
	}
	#knob:hover {
		opacity:0.9;
	}
	#knob i, #knob-bottom i {
		vertical-align:middle;
		width: 50px;
		height: 50px;
		font-size:30px;
		text-align:center;
	}
  #knob i {
    line-height:50px;
  }
  #knob-bottom i {
    line-height:45px;
  }
	
/*========== /HOME PAGE ==========*/

/*========== CONTENT PAGE ==========*/
.content-container {
	z-index:4;
	padding-top:1px;
	background:#fafafa;
	abackground:rgba(255,255,255,0.95);
	position:relative;
}
.content {
	margin:0 auto;
	max-width:100%;
	width:460px;
	text-align:justify;
	padding:20px 20px 0;
	hyphens: auto;
	-moz-hyphens: auto;/* prefixfree.js is too slow for this one;*/
}
.bottom {
  background:#fafafa;
  padding:0 0 20px;
  position:relative;
}
.article {
  padding-bottom:60px;
  position:relative;
}
.article:before {
	border:0;
  border-bottom: 1px solid #aaa;
  border-top: 1px solid #aaa;
	height:5px;
	display:block;
	content:"";
	position:absolute;width:100%;
	bottom:25px;
	left:0;

}
.article:first-child {
  margin-top:0px;
}
/*========== /CONTENT PAGE ==========*/


/*========== MEDIAS FRAMES ==========*/
.vimeo, .bandcamp, .youtube, .dailymotion  {
	height:220px;
	margin-top:20px;
	background-color:#fff;
	background-size:cover;
	background-position:center;
}
.vimeo iframe, .bandcamp iframe, .youtube iframe, .dailymotion iframe  {
	border:0;
	display:block;
	width:100%;
	height:218px;
	background:transparent;
}
.bandcamp iframe, .bandcamp {
	height:120px;
	border:0;
}
.play-button {
    width: 40px;
    height: 40px;
    color: #eee;
    font-size: 16px;
    position: absolute;
	border:0;
	outline:0;
    text-align: center;
    left: 50%;
    top: 50%;
    margin-top: -20px;
    margin-left: -20px;
    display: block;
    line-height: 40px;
	background:#222;
	opacity:0.8;
	border-radius:5px;
}
/*========== /MEDIAS FRAMES ==========*/



/*========== SLIDER ==========*/
.slider {
	height: 220px;
	margin-top:20px;
}
.swiper-container {
	height: 220px;
}	
.swiper-slide {
	height: 220px;
	background-size:cover;
	background-position:center;
	background-color:#000;
	background-repeat:no-repeat;
}
.fullscreen {
	border:1px solid #333!important;
	border-radius:0!important;
}
.fullscreen .swiper-container  {
	height:100%;
}
.fullscreen .fa-expand:before{
	content:"\f066"
}
.fullscreen .fa-compress:before{
	content:"\f065"
}
#layer {
	background:#111;
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:999;
	display:none;
}
/*========== /SLIDER ==========*/




/*========== ARTICLES LIST ==========*/
.sub-article-list {
	transition:opacity 0.3s;
	opacity:1;
	border-top:1px solid #ccc;
	margin-top:20px;
}
.sub-article-list.loading {
	background:url(loading2.gif) center no-repeat;
}
.sub-article-list.loading * {
	opacity:0.8;
}
.sub-article {
	border-top:1px solid #fff;
	border-bottom:1px solid #ccc;
	padding-bottom:20px;
	max-height:80px;
	overflow:hidden;
}


.sub-article.past .sub-article-date {
  color:#555;
}
.sub-article.today .sub-article-date, .sub-article.futur .sub-article-date {
	color:#298;
}

.sub-article:first-child {
	border-top:0;
}
.sub-article .sub-article-title {
	outline:0;
	
}
.sub-article-title {

}
.previous-article {
	height:80px;
	line-height:80px;
	padding-left:10px;
	float:right;
	display:none;
	outline:0;
}
.sub-article.focus .previous-article {
  display:block;
}
.sub-article h3 {
	margin:0px 0 0;
	height:80px;
	line-height:80px;
	position:relative;
	overflow:hidden;
	text-align: left;
  white-space:nowrap;
  text-overflow:ellipsis;
}
.sub-article-text {

}
.sub-article.focus .sub-article-text {

}
.sub-article.focus  {
	max-height:10000px;
}
.sub-article  h3 i.star {
 a color:#555;
}
.sub-article.focus  h3 i.star:before{
	content:"\f192";
}
.sub-article-date {
  font-weight:400;
  float:none;
  display:block;
  position:absolute;top:20px;
}
.sub-article-list-footer {
	border-top:1px solid #fff;
	text-align:center;
}
.pagination-anchor {
  position:relative;
}
.pagination-anchor a {
  display: block;
  position: absolute;
  bottom: -22px;
  height: 1px;
}
.sub-article-pagination {
	display:inline-block;
	line-height:19px;
}
.sub-article-pagination .sep {
	display:none;
}
.sub-article-pagination strong, .sub-article-pagination a {
		border:2px solid #555;
		color:#555;
		margin:20px 10px 0;
		text-align:center;
		font-size:16px;
		width:34px;
		height:34px;
		line-height:30px;
		border-radius:34px;
		display:inline-block;
		outline:0;
}
.sub-article-pagination strong {
	background:#ddd;
}
.sub-rss {
		border:2px solid #555;
		color:#555;
		margin:20px 10px 0;
		text-align:center;
		font-size:16px;
		width:34px;
		height:34px;
		line-height:30px;
		border-radius:34px;
		display:inline-block;
		outline:0;
}
.sub-article-list-keywords {
		border:2px solid #555;
		color:#555;
		margin:20px 10px 0;
		text-align:center;
		font-size:16px;
		width:34px;
		height:34px;
		line-height:30px;
		border-radius:34px;
		display:inline-block;
		outline:0;
	  cursor:pointer;
	  transition: all 0.3s;
	  position:relative;
}
.sub-article-list-keywords i {
	width:32px;
	height:34px;
	line-height:32px;
	text-align:center;
}

.sub-article-keywords {
	margin-top:20px;
}
/*========== /ARTICLES LIST ==========*/
.sub-article-list-keywords li:before {display:none;}
.sub-article-list-keywords li {border-bottom:1px solid #888;  padding:5px;}
.sub-article-list-keywords li:last-child {border-bottom:0px;}
.sub-article-list-keywords ul {
  position:absolute;
  width:120px;
  left:50%;
  margin-left:-60px;
  text-align:center;
  list-style:none;
  background:#fafafa;
  border:1px solid #666;
  top:15px;
  font-size:14px;
  border-radius:7px;
  display:none;
}
.sub-article-list-keywords a {
  font-weight:400;
  outline:0;
}
.sub-article-list-keywords:hover ul {
  display:block;
} 
.sub-article-list-keywords ul:before, .sub-article-list-keywords ul:after {
  content:"";
  position:absolute;
  border-bottom:10px solid #666;
  border-left:10px solid transparent;
  border-right:10px solid transparent;
  top:-10px;
  left:50%;
  margin-left:-10px;

}
.sub-article-list-keywords ul:after {
  top:-8px;
  border-bottom:10px solid #fafafa;
}

	
/*========== GUI ==========*/
.ui-container {
	position:relative;
	background:url(loading2.gif) center no-repeat;
	background-color:#fff;
	border:1px solid rgb(210, 210, 210);
	border-radius:3px;
	overflow:hidden;
}
.ui-container.noborder {
	border:0;
	border-radius:0;
	background-color:transparent;
	background-image:none;
}
.ui-element{
	font-size:18px;
	line-height:30px;
	min-height:30px;
	border:0;
	outline:0;
	color:#fff;
	opacity:0.8;
	background:#222;
	padding: 5px;
	z-index:100;
	display:block;
	position:absolute;
	text-align:center;
}

.center-left, .center-right {
	position:absolute;
	top:50%;
	margin-top:-15px;
}
.center-left {
	left:0;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
}
.center-right {
	right:0;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
}
.bottom-left {
	bottom:0;
	left:0;
	border-top-right-radius:5px;
}
.bottom-right {
	bottom:0;
	right:0;
	border-top-left-radius:5px;
}
.top-right {
	top:0;
	right:0;
	border-bottom-left-radius:5px;
}
.top-left {
	top:0;
	border-bottom-right-radius:5px;
}
.alt {
	display:none;
}
.ui-container a:hover {
  color:#298;
}
/*========== /GUI ==========*/


/*========== TYPO & GENERATED CONTENT ==========*/
body {
	font-family:Source Sans Pro, sans-serif;
	font-size:15px;
	line-height:20px;
	color:#222;
}
p, h1, h2, h3, blockquote, ul, ol, .spip_image, .footnotes {
	margin-bottom:0px;
	margin-top:20px;
	line-height:20px;
}
h1 {
	font-size:20px;
	text-align:center;
	font-variant:small-caps;
}
h2 {
	font-size:30px;
	text-align:center;
	abackground:#333;
	color:#333;
	font-weight:300;
	line-height:30px;
	position:relative;
	margin:0;
	z-index:2;
}
h3 {
	font-size:16px;
	font-weight:600;
	margin:25px 0px -5px;
}
hr {
	border:0;
  border-bottom: 1px solid #ddd;
	height:0px;
	margin-top:18px;
}

ul {
	list-style:none;
	text-align:left;
}
li ul {
	margin-top:0;
}
ul li ul li {
	padding-left:20px;
}
.content ul li:before  {
	height:0;
	content:"\f0da";
	font-family:FontAwesome;
}
ol {
    counter-reset:li;
	text-align:left;
}
li ol {
	margin-top:0;
}
ol li {
    list-style:none;
}
ol li ol li {
 padding-left:20px
}
ol > li:before {
    content:counter(li)".";
    counter-increment:li;
    width:15px;
    display:inline-block;
}

.spip_in, .spip_out, .spip_mail, .spip_document {
  transition: all 0.2s ease-in-out 0s;
  color:inherit;
  text-decoration: none;
  border-bottom: 1px dotted;
}
.spip_in:hover, .spip_out:hover, .spip_mail:hover, .spip_document:hover {
	border-color: transparent;
}
a {
  color:inherit;
  text-decoration: none;
  transition: all 0.2s ease-in-out 0s;
}
a.on {
  font-weight:600;
}
.align-center, .center {
	text-align:center;
}
.align-right {
	text-align:right;
}
.float-left {
	float:left;
}
.float-right{
	float:right;
}
.float-center{
	margin-left:auto;
	margin-right:auto;
}

.spip_note_ref {
	font-size:11px;
	vertical-align:super;
}
.spip_note {
	vertical-align:middle;
}
.footnotes {
	border-top:1px solid #aaa;
}
.footnotes p {
	margin:0;
}

blockquote {
	padding-left:20px;
	position:relative;
	font-style:italic;
}
blockquote:before {
	font-family:'FontAwesome';
	content:"\f10d";
	position:absolute;
	left:2px;
	top:0;
	opacity:0.5;
	font-style:normal;
}
.info {
	padding-left:20px;
	position:relative;
	font-style:italic;
}
.info:before {
	font-family:'FontAwesome';
	content:"\f05a";
	position:absolute;
	left:2px;
	top:0;
	opacity:0.5;
	font-style:normal;
}
.warn {
	padding-left:20px;
	position:relative;
	font-style:italic;
}
.warn:before {
	font-family:'FontAwesome';
	content:"\f071";
	position:absolute;
	left:2px;
	top:0;
	opacity:0.5;
	font-style:normal;
}
.spip_size {
	font-size: 9px;
	line-height: 8px;
	vertical-align: middle;
	display: inline-block;
	margin-top:-2px;
}
.spip_size span {
	display:table-row;
}
.spip_image {
	max-width:100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.spip_image.float-right {
	margin-left:20px;
}
.spip_image.float-left {
	margin-right:20px;
}
.spip_image img {
	display:block;
	width:100%;
	height:auto;
}
.clear {
	clear:both;
}
.normal {
	font-size:14px;
}
iframe {
	display:block;
}
/*========== /TYPO & GENERATED CONTENT ==========*/

/*========== RESPONSIVENESS ==========*/
@media only screen and (max-width: 560px) {

.player {
  width:240px;
  left:50%;
  margin-left:-120px;
}
.content {
	width:auto;
}

/*========== /RESPONSIVENESS ==========*/
